{erl_opts, [debug_info]}.

{deps, [
    {jsx, "~> 2.10"},
    {gm_type_schema_converter, {git, "git@github.com:greyorange-labs/gm_type_schema_converter.git", {branch, "main"}}}
]}.

{project_plugins, [erlfmt, rebar3_hex]}.
{erlfmt, [
    write,
    {files, [
        "src*/*.{erl,hrl,app.src,config}",
        "test*/*.{erl,hrl,app.src,config}",
        "test/fixtures/*.{erl,hrl,app.src,config}",
        "*.config",
        "rebar.lock",
        "*.config.script"
    ]},
    {print_width, 130}
]}.

{profiles, [
    {test, [
        {extra_src_dirs, ["test/fixtures"]},
        {deps, [
            {trails, {git, "https://github.com/inaka/cowboy-trails", {ref, "09203749"}}}
        ]}
    ]}
]}.
